/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Variables */
:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Oswald", sans-serif;
    --primary-color: #0b8ab8; /* blue */
}
body {
    font-family: var(--secondary-font);
}

h1 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

/* Navbar */

#navbar {
    background-color: var(--primary-color);
}

/* temp grid style */
/* .container, .row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */