/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Variables */
:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Oswald", sans-serif;
    --primary-color: #000001; /* blue */
    --secondary-color: #fbe51f;
}

/* Global styles */

body {
    font-family: var(--secondary-font);
}

h1,h2 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

.section {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
/* Navbar */

#navbar {
    background-color: var(--primary-color);
}

#header-background {
    background-image: url("../images/calisthenics-pic-4.jpg"); /* Adjust path if needed */
    background-size: cover; /* Ensures full coverage */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
    width: 100vw; /* Full width of the viewport */
}

#header-background p {
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);

}

/* #header-background h1,h2 {
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.7);
} */

/* temp grid style */
/* .container, .row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */