/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Variables */
:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Oswald", sans-serif;
    --primary-color: #000001; /* blue */
    --secondary-color: #fbe51f;
}

/* Global styles */

body {
    font-family: var(--secondary-font);
}

h1,h2 {
    font-family: var(--primary-font);
}



a {
    color: inherit; /* Inherits text color from parent */
    text-decoration: none; /* Removes underline */
}


.section {
    margin-top: 1rem;
    margin-bottom: 2rem;
}


.container {
    padding-bottom: 10px;
}


/* Navbar */

#navbar {
    background-color: var(--primary-color);
}

#logoimage {
    /* filter: invert(100%); */
    filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(10deg);
}

#navbutton {
    background-color: var(--secondary-color);
    color: black;
    border: 1px solid black;
}

#navbutton:hover {
    background-color: #f8f9fa; /* Optional: Adds a light hover effect */
  }

/* hero */


#header-background {
    background-image: url("../images/calisthenics-pic-4.jpg"); 
    background-size: cover; /* Ensures full coverage */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* prevents repition */
    width: 100%; /* Full width of the screen */
    height: 450px;
}

#header-background p {
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
    width: auto;
    

}

#header-background h1, #header-background h2{
    color: var(--secondary-color);
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: 1px 1px 4px rgba(6, 1, 1, 0.7);
    width: auto;
    margin-bottom: -1px;
}

#header-background h1, h2, p {
    margin: 1; /* Removes default margin */
    padding: 0; /* Removes default padding */
  }






/* main */

#contactform {
    margin: 1em;
    max-width: 50;
}

#gohome {
    text-align: center;
}

.home-card {
    justify-items: center;
    margin-top: 50px;
}

#h1main {
    justify-items: center;
    width: 100%;
}

#h1main h1 {
    padding: 15px;
    background-color: yellow;
    top: -39px;
    width: 100%;
    border: 1.5px #999 solid;
}

.progressTable {
    margin-top: 30px;
    margin-bottom: 30px;
}

.accordion-button:not(.collapsed) {
    background-color: var(--secondary-color); /* Change this to your desired color */
    /* color: white !important; Change text color if needed */
}

#errorh2 {
    text-align: center;
    margin: 20px;
}

/* Footer */

#footerpart {
    background-color: var(--secondary-color);
}

#footerpart a {
    margin-right: 1em;
    }
/* temp grid style */
/* .container, .row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */